.bistec-suporte {
    max-width: 70%;
    color: #141414;
    margin: auto;
    text-align: center;
    padding: 5vh 0;
}

.bistec-suporte h1 {
    font-size: 4vw;
    padding-top: 12vh;
    background-color: transparent;
}

.bistec-suporte p {
    font-size: 2vw;
    padding: 1.75vh 0;
    background-color: transparent;
    margin: 1vh;
}

.bistec-suporte .button_text {
	display: inline-flex;
	align-items: center;
	padding: 0 10px;
    color: #fff;
    height: 100%;
}

.bt-dialog-anydesk {    
	background-color: #A62923;
    align-items: center;
    padding: 1.2vw;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
	border: none;
	outline: none;
    font-weight: 700;
    max-width: 40%;
}

.bistec-suporte p:last-child {
    margin-top: 4vh;
}

.bt-dialog-anydesk:hover,
.bt-dialog-anydesk:focus-within {
	background-color: #9b1d16;
}

.bt-dialog-teamviewer {    
	background-color: #0859A1;
    align-items: center;
    padding: 1.2vw;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
	border: none;
	outline: none;
    font-weight: 700;
    max-width: 40%;
}

.bt-dialog-teamviewer:hover,
.bt-dialog-teamviewer:focus-within {
	background-color: #095191;
}

.suporte-wpp {
    color: #006700;
    text-decoration: underline;
    background-color: transparent;
}

.suporte-telegram {
    color: #08457a;
    text-decoration: underline;
    background-color: transparent;
}

@media (min-width: 335px) and (max-width: 620px) {

    .bistec-suporte {
        max-width: 100%;
    }

    .bistec-suporte h1 {
        font-size: 7vw;
        padding-top: 10vh;
    }

    .bistec-suporte p {
        font-size: 4.8vw;
        padding: 1vh 0;
    }

    .bt-dialog-anydesk, .bt-dialog-teamviewer {
        padding: 2vw;
        max-width: 65%;
    }

    footer {
        margin-top: 0;
    }

    footer ion-icon {
        margin: 0.3em auto;
    }

    .suporte_icons ion-icon, .suporte_icons2 ion-icon {
        padding-top: 0.2em;
        padding-left: 0.3em;
    }

    .suporte_icons, .suporte_icons2 {
        max-width: 85%;
        justify-content: space-evenly;
    }

    .suporte_icons h5, .suporte_icons2 h5{
        font-size: 0.9em;
        margin: 0;
        margin-right: 0.5em;
    }

}

@media (max-width: 334px) {
    .bistec-suporte {
        max-width: 100%;
    }

    .bistec-suporte h1 {
        font-size: 7vw;
        padding-top: 10vh;
    }

    .bistec-suporte p {
        font-size: 4.8vw;
        padding: 1.25vh 0;
    }

    .bt-dialog-anydesk, .bt-dialog-teamviewer {
        padding: 2vw;
        max-width: 65%;
    }

    footer {
        margin-top: 0;
    }

    footer ion-icon {
        margin: 0.3em auto;
    }

    .suporte_icons ion-icon, .suporte_icons2 ion-icon {
        padding-top: 0.2em;
        padding-left: 0.3em;
    }

    .suporte_icons, .suporte_icons2 {
        max-width: 85%;
        justify-content: space-evenly;
    }

    .suporte_icons h5, .suporte_icons2 h5{
        font-size: 0.9em;
        margin: 0;
        margin-right: 0.5em;
    }

    .suporte_icons, .suporte_icons2 {
        max-width: 95%;
    }
}